<!--
File: app.component.html
Author: Tamás Domán
Copyright: 2023, Tamás Domán
Group: Szoft II N
Date: 2023-02-07
Github: https://github.com/DomanTom07/
Licenc: GNU GPL
-->

<nav class="navbar navbar-dark bg-dark justify-content-center">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/tindex">Testtömegindex</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/git">Github</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
  </ul>
</nav>

<div class="container mt-3">
    <router-outlet></router-outlet>
</div>