<!--
File: git.component.html
Author: Tamás Domán
Copyright: 2023, Tamás Domán
Group: Szoft II N
Date: 2023-02-07
Github: https://github.com/DomanTom07/
Licenc: GNU GPL
-->

<h2>Git</h2>

<ul class="list-group mt-3">
    <li class="list-group-item">
        <a href="https://github.com/DomanTom07">
            Github elérés
        </a>
    </li>
    <li class="list-group-item">
        <a href="https://github.com/DomanTom07/Angular_tindex">
            Projekt forráskódja
        </a>
    </li>
</ul>